<!DOCTYPE html>
<html lang="pt-br" dir="ltr">
  <head>
    <meta charset="utf-8">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <title>Catioro</title>
  </head>
  <body>

    <div id="app" style="width: 100vw; height: 100vh;">

      <section v-if="errored">
        <p>We're sorry, we're not able to retrieve this information at the moment, please try back later</p>
      </section>
      <section v-else>
        <div v-if="loading">Loading...</div>
        {{catioros}}
        <div v-else v-for="catioro in catioros" :key="catioro">
        <!-- <div v-else> -->
          <!-- <img :src='catioro'> -->
          {{catioro}}
        </div>
      </section>
    </div>

    <script type="text/javascript">
      // Dog API https://dog.ceo/api/breeds/image/random
      var app = new Vue({
        el: '#app',
        data: {
          catioros: null,
          // catioro: '',
          loading: true,
          errored: false
        },
        methods:{
          getCatioro: function() {
            axios
            //.get('https://dog.ceo/api/breeds/image/random')
            .get('https://dog.ceo/api/breeds/image/random/30')
            .then(function (response) {
              // handle success
              this.catioros = response.data
              //this.catioro = response.data.message
              console.log(this.catioros)
              this.loading = true
            })
            .catch(function (error) {
              // handle error
              console.log(error);
              this.errored = true
            })
            .finally(() => this.loading = false)
          }
        },
        mounted(){
          this.getCatioro()
        }
      })
    </script>
  </body>

</html>
